@page "/admin/blogposts"
@attribute [StreamRendering]
@attribute [Authorize]
@inject IBlogApi _api

<a href="/admin/blogposts/new">New blog post</a>

@if (_posts?.Count == 0)
{
    <p>No blog posts found</p>
}
else if (_posts == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var p in _posts)
        {
            <li>
                @p.PublishDate
                <a href="/admin/blogposts/@p.Id">@p.Title</a>
            </li>
        }
    </ul>
}

@code {
    private List<BlogPost>? _posts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        var numberOfPosts = await _api.GetBlogPostCountAsync();
        _posts = await _api.GetBlogPostsAsync(numberOfPosts, 0);
        await base.OnInitializedAsync();
    }

}